# --- Системные файлы Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# --- Временные бэкапы SSH-ключей (которые создает скрипт) ---
*.bak

# --- Логи и отчеты (если решите сохранять историю на диск) ---
*.log
*.csv
*.txt

# --- Специфичный мусор операционных систем ---
.DS_Store
Thumbs.db
